<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
    <h1>Assets:</h1>
    <table>
        <tr>
            <th>Sr.No</th>
            <th>Mac Address</th>
            <th>Device Id</th>
            <th>IP Address</th>
            <th>Type</th>
            <th>Mac Vendor</th>
            <th>OS</th>
            <th>Protocols</th>
            <th>Product Name</th>
        </tr>
        <% for( let i = 1; i < data.length; i++ ) { %>
            <tr>
                <td><%=data[i]["Nodes List"] || "-"%></td>
                <td><%=data[i]["Column2"] || "-"%></td>
                <td><%=data[i]["Column3"] || "-"%></td>
                <td><%=data[i]["Column4"] || "-"%></td>
                <td><%=data[i]["Column5"] || "-"%></td>
                <td><%=data[i]["Column6"] || "-"%></td>
                <td><%=data[i]["Column7"] || "-"%></td>
                <td><%=data[i]["Column10"] || "-"%></td>
                <td><%=data[i]["Column11"] || "-"%></td>
            </tr>
        <% } %>
    </table>
</body>
</html>