<%- include('./partials/up_and_down.ejs') %>
<body>
    <%-include('./partials/navbar.ejs')%>
    <div class="all_plots">
    <div id="plot"></div>
    <div class="pie_and_table">
        <h2>Pie Chart</h2>
        <div id="pie_plot"></div>
    <div>
        <h2>Impact Rating Matrix</h2>
        <table>
          <tr>
            <th>Standard Factors</th>
            <th>Compliance Level</th>
            <th>Impact / Risk Level</th>
          </tr>
          <tr>
            <td>Availability</td>
            <td>Not Implemented</td>
            <td>Critical</td>
          </tr>
          <tr>
            <td></td>
            <td>Partially Implemented</td>
            <td>Medium</td>
          </tr>
          <tr>
            <td>Integrity</td>
            <td>Not Implemented</td>
            <td>High</td>
          </tr>
          <tr>
            <td></td>
            <td>Partially Implemented</td>
            <td>Medium</td>
          </tr>
          <tr>
            <td>Confidentiality</td>
            <td>Not Implemented</td>
            <td>Medium</td>
          </tr>
          <tr>
            <td></td>
            <td>Partially Implemented</td>
            <td>Low</td>
          </tr>
        </table>
    </div>
    </div>
    </div>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawPieChart);
        var tot = "<%=total%>";
        var low = "<%=low%>";
        var medium = "<%=medium%>";
        var high = "<%=high%>"
        var critical = "<%=critical%>";
        var ignore = "<%=ignore%>";
        console.log(low,medium,high,critical,ignore);
        function drawChart(){
            const data = google.visualization.arrayToDataTable([
                ["risk level.","pct."],
                ["critical.",Math.round(Number(critical*(100/Number(tot))))],
                ["high.",Math.round(Number(high*(100/Number(tot))))],
                ["medium",Math.round(Number(medium*(100/Number(tot))))],
                ["low",Math.round(Number(low*(100/Number(tot))))],
                
            ])
            const options = {
                title : "Risk Level"
            };
            const chart = new google.visualization.BarChart(document.getElementById("plot"));
            chart.draw(data,options);
        }
        function drawPieChart(){
            const data = google.visualization.arrayToDataTable([
                ["risk level.","percentage."],
                ["critical.",Math.round(Number(critical*(100/Number(tot))))],
                ["high.",Math.round(Number(high*(100/Number(tot))))],
                ["medium",Math.round(Number(medium*(100/Number(tot))))],
                ["low",Math.round(Number(low*(100/Number(tot))))],
                ['secure',Math.round(Number(ignore*(100/Number(tot))))]
            ])
            const options = {
                title : "Risk Level"
            };
            const chart = new google.visualization.PieChart(document.getElementById("pie_plot"));
            chart.draw(data,options);
        }
    </script>
</body>
</html>