<%-include('./partials/up_and_down.ejs')%>
<body>
    <%-include('./partials/navbar.ejs')%>
    <form action="/sec_assess_repl" method="POST" class="all_qs">
        <div class="main_head">
            <h1>IEC 62443</h1>
        </div>
        
        <%data.forEach(dat=>{%>
            <div>
                <label class="sr_and_title" for=<%="optionsFor"+dat.id%>><%=`${dat.title1} ${dat.title2}`%></label><br><br>
                <label for=<%="optionsFor"+dat.id%>><%=`${dat.about}`%></label><br>
                <select name=<%="optionsFor"+dat.id%>>
                    <option value="not_implemented">Not Implemented</option>
                    <option value="partially_implemented">Partially Implemented</option>
                    <option value="implemented">Implemented</option>
                </select>
            </div>
            <hr>
        <%})%>
        <div class="submit_questionaire">
            <button type="submit" class="submit_q_button">SUBMIT</button>
        </div>
        
    </form>
</body>
</html>